
body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: #f4f4f4;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 26px;
}


.glass-effect {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
    backdrop-filter: blur(8px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    color: black;
    margin-bottom: 20px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}


.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; 
    font-weight: 700;
    color: #6200EE;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color 0.3s ease; 
}


.navbar-brand:hover {
    color: #003366; 
}


.black-text {
    color: black;
}


@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1rem; 
    }

    .glass-effect {
        padding: 20px;
        margin-bottom: 15px;
    }

    .container {
        flex-direction: column;
    }
}
