* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 }


.dashboard-container {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(12px); 
    border-radius: 20px; 
    padding: 30px 40px;
    text-align: center;
    width: 350px;
    color: #fff; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    position: relative; 
}


h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: black; 
}


.info {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8); 
    margin-bottom: 10px;
}

/* Next Butrgb(0, 0, 255)128, 255)128, 255)
.next-button {
    display: inline-block;
    background: linear-gradient(135deg, #4e89ae, #6d9dc5);
    color: white;
    padding: 12px 20px;
    border-rgb(142, 155, 240)    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    transition: background 0.3s ease;
}

.next-button:hover {
    background: linear-gradient(135deg, #6d9dc5, #4e89ae);
}
