
body {
   background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



.container {
    max-width: 600px; 
    margin-top: 100px;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    margin-right: auto;
    margin-left: 115px;
}



h3 {
    text-align: center;
    color: #FFD700; 
    font-size: 24px; 
    font-weight: bold;
}


h4 {
    text-align: center;
    color: #FFF;
    font-size: 18px; 
    font-weight: bold;
}


.btn {
    padding: 8px 12px; 
    font-size: 14px; 
    font-weight: bold;
    border-radius: 5px;
    margin: 5px 3px; 
    transition: all 0.3s ease;
}


.btn-default {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ddd;
}

.btn-default:hover {
    background-color: #007bff;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
    border: none;
}

.btn-info:hover {
    background-color: #138496;
}


.btn.active {
    background-color: #28a745;
    color: white;
}


button {
    cursor: pointer;
}


input[type="button"] {
    cursor: pointer;
    margin-right: 8px; 
    transition: all 0.3s ease;
    padding: 8px 16px; 
    font-size: 14px; 
}


input[type="button"]:hover {
    background-color: #28a745;
    color: white;
    transform: scale(1.05); 
}


a {
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
}

a:hover {
    color: #FFD700;
}


@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin-top: 50px;
    }

    h3 {
        font-size: 24px;
    }

    .btn {
        font-size: 12px; 
    }

    input[type="button"] {
        font-size: 12px; 
        padding: 8px 14px; 
    }
}
